h1,h2,p{
    text-align:center;}
h1,h2{
      font-family:Impact,serif;
}
h1{
  font-size:40px;
  margin-top:0px;
  margin-bottom:15px;
}
h2{
  font-size:30px;
}
body{
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding:20px;
  }
.menu {
    width: 80%;
    background-color:burlywood;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    max-width:500px;
}
.flavor, .dessert {
    text-align: left;
    width:75%;
}
.price{
    text-align:right;
    width:25%;
  }
  .item p{
    display: inline-block;
    margin-top:5px;
    margin-bottom:5px;
    font-size:18px;
  }
  .established{
    font-style:italic;
  }
  hr{
    height:2px; 
    /* Notice how the thickness of the line looks bigger? 
    The default value of a property named border-width is 1px for all 
    edges of hr elements. By changing the border to the same color as 
    the background, the total height of the line is 5px 
    (3px plus the top and bottom border width of 1px).
    Change the height property of the hr to be 2px, so the total 
    height of it becomes 4px. */
    background-color:brown;
    border-color:brown;
  }

  .bottom-line{
    margin-top:25px;
    /* Changing the margin-bottom to 5px looks great. However, 
    now the space between the Cinnamon Roll menu item and the second 
    hr element does not match the space 
    between the top hr element and the Coffee heading. */
  }

  /* FOOTER */
  footer{
    font-size:14px;
  }
  a{
    color:black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color:brown;
  }
  a:active{
    color:brown;
  }